/* subscribe.css */
.post-container {
    -fx-background-color: #f0f2f5;
    -fx-padding: 10;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

#btnSelectImage {
    -fx-font-size: 12px;
    -fx-padding: 5 10;
}

/* Smaller view adjustments */
@media screen and (max-width: 400px) {
    .post-container {
        -fx-padding: 5;
    }
    .post-profile-name {
        -fx-font-size: 12px;
    }
    #btnSelectImage {
        -fx-font-size: 10px;
        -fx-padding: 4 8;
    }
}

.post-profile-name {
    -fx-font-size: 14px;
    -fx-font-weight: 200;
}

/*#btnSelectImage {*/
/*    -fx-background-color: #4CAF50;*/
/*    -fx-text-fill: white;*/
/*    -fx-border-radius: 5;*/
/*    -fx-background-radius: 5;*/
/*}*/

#btnSelectImage:hover {
    -fx-background-color: #45a049;
}


.button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 5px 20px; /* Padding */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1); /* Shadow effect */
    -fx-cursor: hand; /* Hand cursor on hover */
}

/* Hover effect for buttons */
.button:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}

/* Style for the Subscribe button */
#btnSelectImage {
    -fx-background-color: #2f2f2f; /* Blue background */
}

/* Hover effect for Subscribe button */
#btnSelectImage:hover {
    -fx-background-color: #555555; /* Darker blue on hover */
}

/* Style for the Unsubscribe button */
#btnPost {
    -fx-background-color: #dc3545; /* Red background */
}

/* Hover effect for Unsubscribe button */
#btnPost:hover {
    -fx-background-color: #c82333; /* Darker red on hover */
}

